<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<contextName>${contextName}</contextName>
	<property name="log_Home" value="/raptor/logs" />

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 日志输出的文件的格式 -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{traceId}|[%thread] %-5level %X{state} %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<!-- 日志拦截器,过滤等级为DEBUG及以上 -->
		<!-- <filter class="raptor.log.LogbackFilter"> <level>DEBUG</level> </filter> -->
	</appender>


	<!-- 按照每天生成日志文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${log_Home}/raptor.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- kb/mb/gb -->
			<maxFileSize>128MB</maxFileSize>
			<!-- 日志文件保留天数 -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{traceId}|[%thread] %-5level %X{state} %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 异步输出 -->
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<!-- 不丢失日志.默认的. 如果discardingThreshold大于0,队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
		<discardingThreshold>0</discardingThreshold>
		<queueSize>10240</queueSize>
		<immediateFlush>false</immediateFlush>
		<appender-ref ref="FILE" />
	</appender>
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>